.scroll-up {
    position: fixed;
    right: 2.5rem;
    bottom: 20%;
    background-color: #4d4d4d;
    opacity: 0.8;
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
}

.scroll-up_icon {
    font-size: 1.5rem;
    color: var(--container-color);
}

.scroll-up:hover {
    background-color: #010101;
}

.show-scroll {
    bottom: 3rem;
}


/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .scroll-up {
        right: 1.5rem;
        padding: 0.25rem .4rem;
    }

    .scroll-up_icon {
        font-size: 1.25rem;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .show-scroll {
        bottom: 4rem;
    }

}

@media screen and (max-width: 576px) {
}

/* For small devices */
@media screen and (max-width: 350px) {
    .scroll-up {
        right: 1rem;
    }
}
